<!-- site:menu-inner -->
                    <div class=affixMenu>
                        <div>
                            <nav class=menuBar aria-label="Основная навигация">
                                <div class=menuCon>
                                    <div class=mainMenu style=box-shadow:none>
                                        <div class=leftMenu>
                                            <div class=mainMenu>
                                                <div type=flex class="ant-row ant-row-center css-1ce7347">
                                                    <div
                                                        class="ant-col ant-col-xs-24 ant-col-sm-24 ant-col-md-24 ant-col-lg-24 ant-col-xl-20 css-1ce7347">
                                                        <div class="ant-row css-1ce7347">
                                                            <div class="ant-col ant-col-24 css-1ce7347">
                                                                <div class="ant-space-compact css-1ce7347 groupJustify">
                                                                    <a class=menuLink href=index.html aria-label="Главная"><img
                                                                        alt=""
                                                                        src="assets/images/a76a8df3dac988c4.png"
                                                                        class=menuImg aria-hidden=true><span
                                                                        class=menuName>Главная</span></a><a
                                                                        class=menuLink title="Гранты и меры поддержки"
                                                                        href=grant.html aria-label="Гранты и меры поддержки"><svg
                                                                            viewBox="0 0 512 512"
                                                                            xmlns=http://www.w3.org/2000/svg width=22px
                                                                            height=22px class=menuImg
                                                                            style=vertical-align:middle
                                                                            aria-hidden=true>
                                                                            <path
                                                                                d=M336.76,161,150.23,243.35c-10.47,4.8-6.95,20.67,4.57,20.67H244a4,4,0,0,1,4,4V357.2c0,11.52,16,15,20.78,4.56L351,175.24A10.73,10.73,0,0,0,336.76,161Z
                                                                                style=fill:rgb(255,255,255);fill-opacity:0.8>
                                                                            </path>
                                                                            <path
                                                                                d=M448,256c0-106-86-192-192-192S64,150,64,256s86,192,192,192S448,362,448,256Z
                                                                                style=fill:none;stroke:rgb(255,255,255);stroke-miterlimit:10;stroke-width:32px;stroke-opacity:0.8>
                                                                            </path>
                                                                        </svg><span class=menuName>Гранты</span></a><a
                                                                        class=menuLink
                                                                        href=v-razrabotke.html aria-label="Популяризация науки (в разработке)"><img
                                                                            alt=""
                                                                            src=assets/images/861148c521dd5856.png
                                                                            class=menuImg aria-hidden=true><span
                                                                            class=menuName>Популяризация
                                                                            науки</span></a><a class=menuLink
                                                                        href=v-razrabotke.html aria-label="Комиссия НТР (в разработке)"><img alt=""
                                                                            src=assets/images/8f2d19c318044659.png
                                                                            class=menuImg aria-hidden=true><span class=menuName>Комиссия
                                                                            НТР</span></a><a class=menuLink href=v-razrabotke.html
                                                                        aria-label="Отраслевые и специальные сегменты (в разработке)"
                                                                        ><img alt=""
                                                                            src="assets/images/d27a557076baae20.png"
                                                                            class=menuImg aria-hidden=true><span
                                                                            class=menuName>Отраслевые и специальные
                                                                            сегменты</span></a><a class=menuLink
                                                                        href=v-razrabotke.html aria-label="База знаний (в разработке)"><img alt=""
                                                                            src=assets/images/b79fe0459545086f.png
                                                                            class=menuImg aria-hidden=true><span class=menuName>База
                                                                            знаний</span></a><a class=menuLink href=v-razrabotke.html
                                                                        aria-label="Аналитика (в разработке)"
                                                                        ><img alt=""
                                                                            src=assets/images/8d92bfa7603c6024.png
                                                                            class=menuImg aria-hidden=true><span
                                                                            class=menuName>Аналитика</span></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><button type=button
                                            class="ant-btn css-1ce7347 ant-btn-default ant-btn-color-default ant-btn-variant-outlined ant-btn-icon-only barsMenu burgerMenu sf-hidden"></button>
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </div>
<!-- site:footer -->
                    <footer class="ant-layout-footer css-1ce7347" style="border-top:var(--layout-gap) solid #eaedef">
                        <div class=footer style=text-align:center>
                            <div type=flex class="ant-row ant-row-space-around ant-row-middle css-1ce7347">
                                <div
                                    class="ant-col ant-col-xs-24 ant-col-sm-24 ant-col-md-5 ant-col-lg-5 ant-col-xl-5 css-1ce7347">
                                    <p>E-mail: support@gisnauka.ru
                                    <p>Горячая линия: +7 800 100-57-37</p>
                                </div>
                                <div class="ant-col footerP ant-col-xs-24 ant-col-sm-24 ant-col-md-5 ant-col-lg-5 ant-col-xl-5 css-1ce7347"
                                    style=padding:10px>
                                    <p>Часы работы: 9:00 - 18:00</p>
                                </div>
                                <div class="ant-col footerP ant-col-xs-24 ant-col-sm-24 ant-col-md-3 ant-col-lg-3 ant-col-xl-4 css-1ce7347"
                                    style=padding:5px><button type=button
                                        class="ant-btn css-1ce7347 ant-btn-link ant-btn-color-var(--white-100) ant-btn-variant-link footer__upload-button"
                                        style=color:var(--white-100);padding:0px><span>Сформировать
                                            выгрузку</span></button></div>
                                <div class="ant-col footerP ant-col-xs-24 ant-col-sm-24 ant-col-md-3 ant-col-lg-3 ant-col-xl-4 css-1ce7347"
                                    style=padding:10px>
                                    <p><a href=https://citis.ru/ target=_blank rel="noopener noreferrer">ФГАНУ ЦИТиС</a>
                                    </p>
                                </div>
                                <div
                                    class="ant-col footerP ant-col-xs-24 ant-col-sm-24 ant-col-md-6 ant-col-lg-6 ant-col-xl-6 css-1ce7347">
                                    <p class=footerLastP>Обработка персональных данных осуществляется в соответствии с
                                        требованиями<a href=https://legalacts.ru/doc/152_FZ-o-personalnyh-dannyh/
                                            target=_blank rel=noreferrer><em><b> ФЗ о защите персональных
                                                    данных</b></em></a></p>
                                </div>
                            </div>
                        </div>
                    </footer>
