    :where(.css-1ce7347)[class^="ant-select"]::before,
    :where(.css-1ce7347)[class*=" ant-select"]::before,
    :where(.css-1ce7347)[class^="ant-select"]::after,
    :where(.css-1ce7347)[class*=" ant-select"]::after {
        box-sizing: border-box
    }

    :where(.css-1ce7347)[class^="ant-select"] [class^="ant-select"]::before,
    :where(.css-1ce7347)[class*=" ant-select"] [class^="ant-select"]::before,
    :where(.css-1ce7347)[class^="ant-select"] [class*=" ant-select"]::before,
    :where(.css-1ce7347)[class*=" ant-select"] [class*=" ant-select"]::before,
    :where(.css-1ce7347)[class^="ant-select"] [class^="ant-select"]::after,
    :where(.css-1ce7347)[class*=" ant-select"] [class^="ant-select"]::after,
    :where(.css-1ce7347)[class^="ant-select"] [class*=" ant-select"]::after,
    :where(.css-1ce7347)[class*=" ant-select"] [class*=" ant-select"]::after {
        box-sizing: border-box
    }

    :where(.css-1ce7347).ant-select:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-search-input::-webkit-search-cancel-button {
        display: none;
        -webkit-appearance: none
    }

    :where(.css-1ce7347).ant-select .ant-select-selection-wrap:after {
        content: " ";
        width: 0;
        overflow: hidden
    }

    :where(.css-1ce7347).ant-select .ant-select-clear:before {
        display: block
    }

    :where(.css-1ce7347).ant-select .ant-select-clear:hover {
        color: rgba(0, 0, 0, 0.45)
    }

    :where(.css-1ce7347).ant-select:hover .ant-select-clear {
        opacity: 1;
        background: #fff;
        border-radius: 50%
    }

    :where(.css-1ce7347).ant-select-single .ant-select-selector:after,
    :where(.css-1ce7347).ant-select-single .ant-select-selector .ant-select-selection-item:empty:after,
    :where(.css-1ce7347).ant-select-single .ant-select-selector .ant-select-selection-placeholder:empty:after {
        display: inline-block;
        width: 0;
        visibility: hidden;
        content: " "
    }

    :where(.css-1ce7347).ant-select-single:not(.ant-select-customize-input) .ant-select-selector:after {
        line-height: 30px
    }

    :where(.css-1ce7347).ant-select-single.ant-select-customize-input .ant-select-selector:after {
        display: none
    }

    :where(.css-1ce7347).ant-select-single.ant-select-customize-input .ant-select-selector .ant-select-selection-placeholder:after {
        display: none
    }

    :where(.css-1ce7347).ant-select-single.ant-select-sm .ant-select-selector:after,
    :where(.css-1ce7347).ant-select-single.ant-select-sm .ant-select-selector .ant-select-selection-item:empty:after,
    :where(.css-1ce7347).ant-select-single.ant-select-sm .ant-select-selector .ant-select-selection-placeholder:empty:after {
        display: inline-block;
        width: 0;
        visibility: hidden;
        content: " "
    }

    :where(.css-1ce7347).ant-select-single.ant-select-sm:not(.ant-select-customize-input) .ant-select-selector:after {
        line-height: 22px
    }

    :where(.css-1ce7347).ant-select-single.ant-select-sm.ant-select-customize-input .ant-select-selector:after {
        display: none
    }

    :where(.css-1ce7347).ant-select-single.ant-select-sm.ant-select-customize-input .ant-select-selector .ant-select-selection-placeholder:after {
        display: none
    }

    :where(.css-1ce7347).ant-select-single.ant-select-lg .ant-select-selector:after,
    :where(.css-1ce7347).ant-select-single.ant-select-lg .ant-select-selector .ant-select-selection-item:empty:after,
    :where(.css-1ce7347).ant-select-single.ant-select-lg .ant-select-selector .ant-select-selection-placeholder:empty:after {
        display: inline-block;
        width: 0;
        visibility: hidden;
        content: " "
    }

    :where(.css-1ce7347).ant-select-single.ant-select-lg:not(.ant-select-customize-input) .ant-select-selector:after {
        line-height: 38px
    }

    :where(.css-1ce7347).ant-select-single.ant-select-lg.ant-select-customize-input .ant-select-selector:after {
        display: none
    }

    :where(.css-1ce7347).ant-select-single.ant-select-lg.ant-select-customize-input .ant-select-selector .ant-select-selection-placeholder:after {
        display: none
    }

    :where(.css-1ce7347).ant-select-multiple .ant-select-selection-overflow .ant-select-selection-item-remove:hover {
        color: rgba(0, 0, 0, 0.88)
    }

    :where(.css-1ce7347).ant-select-multiple .ant-select-selector:after {
        display: inline-block;
        width: 0;
        margin: 2px 0;
        line-height: 24px;
        visibility: hidden;
        content: " "
    }

    :where(.css-1ce7347).ant-select-multiple .ant-select-selection-wrap:after {
        line-height: 24px;
        margin-block: 2px
    }

    :where(.css-1ce7347).ant-select-multiple.ant-select-sm .ant-select-selection-overflow .ant-select-selection-item-remove:hover {
        color: rgba(0, 0, 0, 0.88)
    }

    :where(.css-1ce7347).ant-select-multiple.ant-select-sm .ant-select-selector:after {
        display: inline-block;
        width: 0;
        margin: 2px 0;
        line-height: 16px;
        visibility: hidden;
        content: " "
    }

    :where(.css-1ce7347).ant-select-multiple.ant-select-sm .ant-select-selection-wrap:after {
        line-height: 16px;
        margin-block: 2px
    }

    :where(.css-1ce7347).ant-select-multiple.ant-select-lg .ant-select-selection-overflow .ant-select-selection-item-remove:hover {
        color: rgba(0, 0, 0, 0.88)
    }

    :where(.css-1ce7347).ant-select-multiple.ant-select-lg .ant-select-selector:after {
        display: inline-block;
        width: 0;
        margin: 2px 0;
        line-height: 32px;
        visibility: hidden;
        content: " "
    }

    :where(.css-1ce7347).ant-select-multiple.ant-select-lg .ant-select-selection-wrap:after {
        line-height: 32px;
        margin-block: 2px
    }

    :where(.css-1ce7347).ant-select-compact-item:hover>*,
    :where(.css-1ce7347).ant-select-compact-item:active>* {
        z-index: 2
    }

    :where(.css-1ce7347).ant-select-outlined:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer):hover .ant-select-selector {
        border-color: #4096ff
    }

    :where(.css-1ce7347).ant-select-outlined.ant-select-status-error:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer):hover .ant-select-selector {
        border-color: #ff7875
    }

    :where(.css-1ce7347).ant-select-outlined.ant-select-status-warning:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer):hover .ant-select-selector {
        border-color: #ffd666
    }

    :where(.css-1ce7347).ant-select-filled:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer):hover .ant-select-selector {
        background: rgba(0, 0, 0, 0.06)
    }

    :where(.css-1ce7347).ant-select-filled.ant-select-status-error:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer):hover .ant-select-selector {
        background: #fff1f0
    }

    :where(.css-1ce7347).ant-select-filled.ant-select-status-warning:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer):hover .ant-select-selector {
        background: #fff1b8
    }

    :where(.css-1ce7347).ant-select-underlined:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer):hover .ant-select-selector {
        border-color: #4096ff
    }

    :where(.css-1ce7347).ant-select-underlined.ant-select-status-error:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer):hover .ant-select-selector {
        border-color: #ff7875
    }

    :where(.css-1ce7347).ant-select-underlined.ant-select-status-warning:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer):hover .ant-select-selector {
        border-color: #ffd666
    }
