    :where(.css-1ce7347).ant-drawer::before,
    :where(.css-1ce7347).ant-drawer::after {
        box-sizing: border-box
    }

    :where(.css-1ce7347).ant-drawer [class^="ant-drawer"]::before,
    :where(.css-1ce7347).ant-drawer [class*=" ant-drawer"]::before,
    :where(.css-1ce7347).ant-drawer [class^="ant-drawer"]::after,
    :where(.css-1ce7347).ant-drawer [class*=" ant-drawer"]::after {
        box-sizing: border-box
    }

    :where(.css-1ce7347).ant-drawer .ant-drawer-close:hover {
        color: rgba(0, 0, 0, 0.88);
        background-color: rgba(0, 0, 0, 0.06);
        text-decoration: none
    }

    :where(.css-1ce7347).ant-drawer .ant-drawer-close:active {
        background-color: rgba(0, 0, 0, 0.15)
    }

    :where(.css-1ce7347).ant-drawer .ant-drawer-close:focus-visible {
        outline: 3px solid #91caff;
        outline-offset: 1px;
        transition: outline-offset 0s, outline 0s
    }
