    :where(.css-1ce7347).ant-input::before,
    :where(.css-1ce7347).ant-input::after {
        box-sizing: border-box
    }

    :where(.css-1ce7347).ant-input [class^="ant-input"]::before,
    :where(.css-1ce7347).ant-input [class*=" ant-input"]::before,
    :where(.css-1ce7347).ant-input [class^="ant-input"]::after,
    :where(.css-1ce7347).ant-input [class*=" ant-input"]::after {
        box-sizing: border-box
    }

    :where(.css-1ce7347).ant-input {
        margin: 0;
        list-style: none;
        font-family: Nunito, sans-serif;
        position: relative;
        display: inline-block;
        min-width: 0;
        transition: all 0.2s
    }

    :where(.css-1ce7347).ant-input::-moz-placeholder {
        opacity: 1
    }

    :where(.css-1ce7347).ant-input::placeholder {
        color: rgba(0, 0, 0, 0.25);
        user-select: none
    }

    :where(.css-1ce7347).ant-input:placeholder-shown {
        text-overflow: ellipsis
    }

    :where(.css-1ce7347).ant-input-outlined {
        background: #ffffff;
        border-width: 1px;
        border-style: solid;
        border-color: #d9d9d9
    }

    :where(.css-1ce7347).ant-input-outlined:hover {
        border-color: #4096ff;
        background-color: #ffffff
    }

    :where(.css-1ce7347).ant-input-outlined:focus,
    :where(.css-1ce7347).ant-input-outlined:focus-within {
        border-color: #1677ff;
        box-shadow: 0 0 0 2px rgba(5, 145, 255, 0.1);
        outline: 0;
        background-color: #ffffff
    }

    :where(.css-1ce7347).ant-input-outlined.ant-input-disabled:hover:not([disabled]),
    :where(.css-1ce7347).ant-input-outlined[disabled]:hover:not([disabled]) {
        border-color: #d9d9d9;
        background-color: rgba(0, 0, 0, 0.04)
    }

    :where(.css-1ce7347).ant-input-outlined.ant-input-status-error:not(.ant-input-disabled):hover {
        border-color: #ffa39e;
        background-color: #ffffff
    }

    :where(.css-1ce7347).ant-input-outlined.ant-input-status-error:not(.ant-input-disabled):focus,
    :where(.css-1ce7347).ant-input-outlined.ant-input-status-error:not(.ant-input-disabled):focus-within {
        border-color: #ff4d4f;
        box-shadow: 0 0 0 2px rgba(255, 38, 5, 0.06);
        outline: 0;
        background-color: #ffffff
    }

    :where(.css-1ce7347).ant-input-outlined.ant-input-status-warning:not(.ant-input-disabled):hover {
        border-color: #ffd666;
        background-color: #ffffff
    }

    :where(.css-1ce7347).ant-input-outlined.ant-input-status-warning:not(.ant-input-disabled):focus,
    :where(.css-1ce7347).ant-input-outlined.ant-input-status-warning:not(.ant-input-disabled):focus-within {
        border-color: #faad14;
        box-shadow: 0 0 0 2px rgba(255, 215, 5, 0.1);
        outline: 0;
        background-color: #ffffff
    }

    :where(.css-1ce7347).ant-input-filled:hover {
        background: rgba(0, 0, 0, 0.06)
    }

    :where(.css-1ce7347).ant-input-filled:focus,
    :where(.css-1ce7347).ant-input-filled:focus-within {
        outline: 0;
        border-color: #1677ff;
        background-color: #ffffff
    }

    :where(.css-1ce7347).ant-input-filled.ant-input-disabled:hover:not([disabled]),
    :where(.css-1ce7347).ant-input-filled[disabled]:hover:not([disabled]) {
        border-color: #d9d9d9;
        background-color: rgba(0, 0, 0, 0.04)
    }

    :where(.css-1ce7347).ant-input-filled.ant-input-status-error:not(.ant-input-disabled):hover {
        background: #fff1f0
    }

    :where(.css-1ce7347).ant-input-filled.ant-input-status-error:not(.ant-input-disabled):focus,
    :where(.css-1ce7347).ant-input-filled.ant-input-status-error:not(.ant-input-disabled):focus-within {
        outline: 0;
        border-color: #ff4d4f;
        background-color: #ffffff
    }

    :where(.css-1ce7347).ant-input-filled.ant-input-status-warning:not(.ant-input-disabled):hover {
        background: #fff1b8
    }

    :where(.css-1ce7347).ant-input-filled.ant-input-status-warning:not(.ant-input-disabled):focus,
    :where(.css-1ce7347).ant-input-filled.ant-input-status-warning:not(.ant-input-disabled):focus-within {
        outline: 0;
        border-color: #faad14;
        background-color: #ffffff
    }

    :where(.css-1ce7347).ant-input-borderless:focus,
    :where(.css-1ce7347).ant-input-borderless:focus-within {
        outline: none
    }

    :where(.css-1ce7347).ant-input-underlined:hover {
        border-color: transparent transparent #d9d9d9 transparent;
        background-color: #ffffff
    }

    :where(.css-1ce7347).ant-input-underlined:focus,
    :where(.css-1ce7347).ant-input-underlined:focus-within {
        border-color: transparent transparent #d9d9d9 transparent;
        outline: 0;
        background-color: #ffffff
    }

    :where(.css-1ce7347).ant-input-underlined.ant-input-disabled:hover,
    :where(.css-1ce7347).ant-input-underlined[disabled]:hover {
        border-color: #d9d9d9
    }

    :where(.css-1ce7347).ant-input-underlined.ant-input-status-error:not(.ant-input-disabled):hover {
        border-color: transparent transparent #ff4d4f transparent;
        background-color: #ffffff
    }

    :where(.css-1ce7347).ant-input-underlined.ant-input-status-error:not(.ant-input-disabled):focus,
    :where(.css-1ce7347).ant-input-underlined.ant-input-status-error:not(.ant-input-disabled):focus-within {
        border-color: transparent transparent #ff4d4f transparent;
        outline: 0;
        background-color: #ffffff
    }

    :where(.css-1ce7347).ant-input-underlined.ant-input-status-warning:not(.ant-input-disabled):hover {
        border-color: transparent transparent #faad14 transparent;
        background-color: #ffffff
    }

    :where(.css-1ce7347).ant-input-underlined.ant-input-status-warning:not(.ant-input-disabled):focus,
    :where(.css-1ce7347).ant-input-underlined.ant-input-status-warning:not(.ant-input-disabled):focus-within {
        border-color: transparent transparent #faad14 transparent;
        outline: 0;
        background-color: #ffffff
    }

    :where(.css-1ce7347).ant-input[type="search"]::-webkit-search-cancel-button,
    :where(.css-1ce7347).ant-input[type="search"]::-webkit-search-decoration {
        -webkit-appearance: none
    }

    :where(.css-1ce7347).ant-input-affix-wrapper {
        position: relative;
        display: inline-flex;
        width: 100%;
        min-width: 0;
        color: rgba(0, 0, 0, 0.88);
        transition: all 0.2s
    }

    :where(.css-1ce7347).ant-input-affix-wrapper::-moz-placeholder {
        opacity: 1
    }

    :where(.css-1ce7347).ant-input-affix-wrapper::placeholder {
        color: rgba(0, 0, 0, 0.25);
        user-select: none
    }

    :where(.css-1ce7347).ant-input-affix-wrapper:placeholder-shown {
        text-overflow: ellipsis
    }

    :where(.css-1ce7347).ant-input-affix-wrapper-lg {
        padding: 7px 11px;
        font-size: 16px;
        line-height: 1.5
    }

    :where(.css-1ce7347).ant-input-affix-wrapper:not(.ant-input-disabled):hover {
        z-index: 1
    }

    .ant-input-search-with-button :where(.css-1ce7347).ant-input-affix-wrapper:not(.ant-input-disabled):hover {
        z-index: 0
    }

    :where(.css-1ce7347).ant-input-affix-wrapper:focus {
        z-index: 1
    }

    :where(.css-1ce7347).ant-input-affix-wrapper>input.ant-input {
        padding: 0
    }

    :where(.css-1ce7347).ant-input-affix-wrapper>input.ant-input {
        font-size: inherit;
        border-radius: 0;
        outline: none;
        background: transparent;
        color: inherit
    }

    :where(.css-1ce7347).ant-input-affix-wrapper>input.ant-input::-ms-reveal,
    :where(.css-1ce7347).ant-input-affix-wrapper>textarea.ant-input::-ms-reveal {
        display: none
    }

    :where(.css-1ce7347).ant-input-affix-wrapper>input.ant-input:focus,
    :where(.css-1ce7347).ant-input-affix-wrapper>textarea.ant-input:focus {
        box-shadow: none !important
    }

    :where(.css-1ce7347).ant-input-affix-wrapper::before {
        display: inline-block;
        width: 0;
        visibility: hidden;
        content: " "
    }

    :where(.css-1ce7347).ant-input-affix-wrapper .ant-input-suffix {
        display: flex;
        flex: none;
        align-items: center
    }

    :where(.css-1ce7347).ant-input-affix-wrapper .ant-input-suffix {
        margin-inline-start: 4px
    }

    :where(.css-1ce7347).ant-input-affix-wrapper .ant-input-clear-icon {
        margin: 0;
        padding: 0;
        line-height: 0;
        color: rgba(0, 0, 0, 0.25);
        vertical-align: -1px;
        cursor: pointer;
        transition: color 0.3s;
        border: none;
        outline: none;
        background-color: transparent
    }

    :where(.css-1ce7347).ant-input-affix-wrapper .ant-input-clear-icon:hover {
        color: rgba(0, 0, 0, 0.45)
    }

    :where(.css-1ce7347).ant-input-affix-wrapper .ant-input-clear-icon:active {
        color: rgba(0, 0, 0, 0.88)
    }

    :where(.css-1ce7347).ant-input-affix-wrapper .ant-input-clear-icon-hidden {
        visibility: hidden
    }

    :where(.css-1ce7347).ant-input-affix-wrapper .anticon.ant-input-password-icon:hover {
        color: rgba(0, 0, 0, 0.88)
    }

    :where(.css-1ce7347).ant-input-affix-wrapper-disabled .anticon.ant-input-password-icon:hover {
        color: rgba(0, 0, 0, 0.45)
    }
