    @keyframes css-1ce7347-antZoomBadgeIn {
        0% {
            transform: scale(0) translate(50%, -50%);
            opacity: 0
        }

        100% {
            transform: scale(1) translate(50%, -50%)
        }
    }
