    @keyframes css-1ce7347-antSlideUpIn {
        0% {
            transform: scaleY(0.8);
            transform-origin: 0% 0%;
            opacity: 0
        }

        100% {
            transform: scaleY(1);
            transform-origin: 0% 0%;
            opacity: 1
        }
    }
