    :where(.css-1ce7347).ant-divider::before,
    :where(.css-1ce7347).ant-divider::after {
        box-sizing: border-box
    }

    :where(.css-1ce7347).ant-divider [class^="ant-divider"] {
        box-sizing: border-box
    }

    :where(.css-1ce7347).ant-divider [class^="ant-divider"]::before,
    :where(.css-1ce7347).ant-divider [class*=" ant-divider"]::before,
    :where(.css-1ce7347).ant-divider [class^="ant-divider"]::after,
    :where(.css-1ce7347).ant-divider [class*=" ant-divider"]::after {
        box-sizing: border-box
    }

    :where(.css-1ce7347).ant-divider {
        padding: 0;
        line-height: 1.5714285714285714;
        list-style: none;
        font-family: Nunito, sans-serif
    }

    :where(.css-1ce7347).ant-divider-horizontal {
        clear: both;
        width: 100%;
        min-width: 100%
    }

    :where(.css-1ce7347).ant-divider-horizontal.ant-divider-with-text {
        display: flex;
        align-items: center;
        margin: 16px 0;
        white-space: nowrap;
        text-align: center;
        border-block-start: 0 rgba(5, 5, 5, 0.06)
    }

    :where(.css-1ce7347).ant-divider-horizontal.ant-divider-with-text::before,
    :where(.css-1ce7347).ant-divider-horizontal.ant-divider-with-text::after {
        position: relative;
        width: 50%;
        border-block-start: 1px solid transparent;
        border-block-start-color: inherit;
        border-block-end: 0;
        transform: translateY(50%);
        content: ""
    }

    :where(.css-1ce7347).ant-divider-horizontal.ant-divider-with-text-start::before {
        width: calc(0.05*100%)
    }

    :where(.css-1ce7347).ant-divider-horizontal.ant-divider-with-text-start::after {
        width: calc(100% - 0.05*100%)
    }

    :where(.css-1ce7347).ant-divider-horizontal.ant-divider-with-text-end::before {
        width: calc(100% - 0.05*100%)
    }

    :where(.css-1ce7347).ant-divider-horizontal.ant-divider-with-text-end::after {
        width: calc(0.05*100%)
    }

    :where(.css-1ce7347).ant-divider .ant-divider-inner-text {
        display: inline-block;
        padding-block: 0;
        padding-inline: 1em
    }

    :where(.css-1ce7347).ant-divider-horizontal.ant-divider-with-text.ant-divider-dashed::before,
    :where(.css-1ce7347).ant-divider-horizontal.ant-divider-with-text.ant-divider-dashed::after {
        border-style: dashed none none
    }

    :where(.css-1ce7347).ant-divider-horizontal.ant-divider-with-text.ant-divider-dotted::before,
    :where(.css-1ce7347).ant-divider-horizontal.ant-divider-with-text.ant-divider-dotted::after {
        border-style: dotted none none
    }

    :where(.css-1ce7347).ant-divider-horizontal.ant-divider-with-text-start.ant-divider-no-default-orientation-margin-start::before {
        width: 0
    }

    :where(.css-1ce7347).ant-divider-horizontal.ant-divider-with-text-start.ant-divider-no-default-orientation-margin-start::after {
        width: 100%
    }

    :where(.css-1ce7347).ant-divider-horizontal.ant-divider-with-text-end.ant-divider-no-default-orientation-margin-end::before {
        width: 100%
    }

    :where(.css-1ce7347).ant-divider-horizontal.ant-divider-with-text-end.ant-divider-no-default-orientation-margin-end::after {
        width: 0
    }
