    :where(.css-1ce7347)[class^="ant-table"]::before,
    :where(.css-1ce7347)[class*=" ant-table"]::before,
    :where(.css-1ce7347)[class^="ant-table"]::after,
    :where(.css-1ce7347)[class*=" ant-table"]::after {
        box-sizing: border-box
    }

    :where(.css-1ce7347)[class^="ant-table"] [class^="ant-table"]::before,
    :where(.css-1ce7347)[class*=" ant-table"] [class^="ant-table"]::before,
    :where(.css-1ce7347)[class^="ant-table"] [class*=" ant-table"]::before,
    :where(.css-1ce7347)[class*=" ant-table"] [class*=" ant-table"]::before,
    :where(.css-1ce7347)[class^="ant-table"] [class^="ant-table"]::after,
    :where(.css-1ce7347)[class*=" ant-table"] [class^="ant-table"]::after,
    :where(.css-1ce7347)[class^="ant-table"] [class*=" ant-table"]::after,
    :where(.css-1ce7347)[class*=" ant-table"] [class*=" ant-table"]::after {
        box-sizing: border-box
    }

    :where(.css-1ce7347).ant-table-wrapper::before {
        display: table;
        content: ""
    }

    :where(.css-1ce7347).ant-table-wrapper::after {
        display: table;
        clear: both;
        content: ""
    }

    :where(.css-1ce7347).ant-table-wrapper .ant-table-thead>tr>th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before,
    :where(.css-1ce7347).ant-table-wrapper .ant-table-thead>tr>td:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
        position: absolute;
        top: 50%;
        inset-inline-end: 0;
        width: 1px;
        height: 1.6em;
        background-color: #f0f0f0;
        transform: translateY(-50%);
        transition: background-color 0.2s;
        content: ""
    }

    :where(.css-1ce7347).ant-table-wrapper .ant-table-thead th.ant-table-column-has-sorters:hover {
        background: #f0f0f0
    }

    :where(.css-1ce7347).ant-table-wrapper .ant-table-thead th.ant-table-column-has-sorters:hover::before {
        background-color: transparent !important
    }

    :where(.css-1ce7347).ant-table-wrapper .ant-table-thead th.ant-table-column-has-sorters:focus-visible {
        color: #1677ff
    }

    :where(.css-1ce7347).ant-table-wrapper .ant-table-thead th.ant-table-column-has-sorters.ant-table-cell-fix-left:hover,
    :where(.css-1ce7347).ant-table-wrapper .ant-table-thead th.ant-table-column-has-sorters.ant-table-cell-fix-right:hover {
        background: #f0f0f0
    }

    :where(.css-1ce7347).ant-table-wrapper .ant-table-thead th.ant-table-column-sort::before {
        background-color: transparent !important
    }

    :where(.css-1ce7347).ant-table-wrapper .ant-table-column-sorters::after {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        content: ""
    }

    :where(.css-1ce7347).ant-table-wrapper .ant-table-column-sorters-tooltip-target-sorter::after {
        content: none
    }

    :where(.css-1ce7347).ant-table-wrapper .ant-table-column-sorters:hover .ant-table-column-sorter {
        color: rgba(0, 0, 0, 0.5720000000000001)
    }

    :where(.css-1ce7347).ant-table-wrapper .ant-table-filter-trigger:hover {
        color: rgba(0, 0, 0, 0.45);
        background: rgba(0, 0, 0, 0.06)
    }

    :where(.css-1ce7347).ant-dropdown .ant-table-filter-dropdown .ant-dropdown-menu:empty::after {
        display: block;
        padding: 8px 0;
        color: rgba(0, 0, 0, 0.25);
        font-size: 12px;
        text-align: center;
        content: "Not Found"
    }

    :where(.css-1ce7347).ant-dropdown .ant-table-filter-dropdown .ant-table-filter-dropdown-tree .ant-tree-treenode .ant-tree-node-content-wrapper:hover {
        background-color: rgba(0, 0, 0, 0.04)
    }

    :where(.css-1ce7347).ant-dropdown .ant-table-filter-dropdown .ant-table-filter-dropdown-tree .ant-tree-treenode-checkbox-checked .ant-tree-node-content-wrapper:hover {
        background-color: #e6f4ff
    }

    :where(.css-1ce7347).ant-table-wrapper .ant-table.ant-table-bordered>.ant-table-container>.ant-table-content>table>thead>tr>th::before,
    :where(.css-1ce7347).ant-table-wrapper .ant-table.ant-table-bordered>.ant-table-container>.ant-table-header>table>thead>tr>th::before,
    :where(.css-1ce7347).ant-table-wrapper .ant-table.ant-table-bordered>.ant-table-container>.ant-table-body>table>thead>tr>th::before,
    :where(.css-1ce7347).ant-table-wrapper .ant-table.ant-table-bordered>.ant-table-container>.ant-table-summary>table>thead>tr>th::before {
        background-color: transparent !important
    }

    :where(.css-1ce7347).ant-table-wrapper .ant-table.ant-table-bordered>.ant-table-container>.ant-table-content>table>thead>tr>.ant-table-cell-fix-right-first::after,
    :where(.css-1ce7347).ant-table-wrapper .ant-table.ant-table-bordered>.ant-table-container>.ant-table-header>table>thead>tr>.ant-table-cell-fix-right-first::after,
    :where(.css-1ce7347).ant-table-wrapper .ant-table.ant-table-bordered>.ant-table-container>.ant-table-body>table>thead>tr>.ant-table-cell-fix-right-first::after,
    :where(.css-1ce7347).ant-table-wrapper .ant-table.ant-table-bordered>.ant-table-container>.ant-table-summary>table>thead>tr>.ant-table-cell-fix-right-first::after,
    :where(.css-1ce7347).ant-table-wrapper .ant-table.ant-table-bordered>.ant-table-container>.ant-table-content>table>tbody>tr>.ant-table-cell-fix-right-first::after,
    :where(.css-1ce7347).ant-table-wrapper .ant-table.ant-table-bordered>.ant-table-container>.ant-table-header>table>tbody>tr>.ant-table-cell-fix-right-first::after,
    :where(.css-1ce7347).ant-table-wrapper .ant-table.ant-table-bordered>.ant-table-container>.ant-table-body>table>tbody>tr>.ant-table-cell-fix-right-first::after,
    :where(.css-1ce7347).ant-table-wrapper .ant-table.ant-table-bordered>.ant-table-container>.ant-table-summary>table>tbody>tr>.ant-table-cell-fix-right-first::after,
    :where(.css-1ce7347).ant-table-wrapper .ant-table.ant-table-bordered>.ant-table-container>.ant-table-content>table>tfoot>tr>.ant-table-cell-fix-right-first::after,
    :where(.css-1ce7347).ant-table-wrapper .ant-table.ant-table-bordered>.ant-table-container>.ant-table-header>table>tfoot>tr>.ant-table-cell-fix-right-first::after,
    :where(.css-1ce7347).ant-table-wrapper .ant-table.ant-table-bordered>.ant-table-container>.ant-table-body>table>tfoot>tr>.ant-table-cell-fix-right-first::after,
    :where(.css-1ce7347).ant-table-wrapper .ant-table.ant-table-bordered>.ant-table-container>.ant-table-summary>table>tfoot>tr>.ant-table-cell-fix-right-first::after {
        border-inline-end: 1px solid #f0f0f0
    }

    :where(.css-1ce7347).ant-table-wrapper .ant-table.ant-table-bordered>.ant-table-container>.ant-table-content>table>tbody>tr>th>.ant-table-expanded-row-fixed::after,
    :where(.css-1ce7347).ant-table-wrapper .ant-table.ant-table-bordered>.ant-table-container>.ant-table-header>table>tbody>tr>th>.ant-table-expanded-row-fixed::after,
    :where(.css-1ce7347).ant-table-wrapper .ant-table.ant-table-bordered>.ant-table-container>.ant-table-body>table>tbody>tr>th>.ant-table-expanded-row-fixed::after,
    :where(.css-1ce7347).ant-table-wrapper .ant-table.ant-table-bordered>.ant-table-container>.ant-table-summary>table>tbody>tr>th>.ant-table-expanded-row-fixed::after,
    :where(.css-1ce7347).ant-table-wrapper .ant-table.ant-table-bordered>.ant-table-container>.ant-table-content>table>tbody>tr>td>.ant-table-expanded-row-fixed::after,
    :where(.css-1ce7347).ant-table-wrapper .ant-table.ant-table-bordered>.ant-table-container>.ant-table-header>table>tbody>tr>td>.ant-table-expanded-row-fixed::after,
    :where(.css-1ce7347).ant-table-wrapper .ant-table.ant-table-bordered>.ant-table-container>.ant-table-body>table>tbody>tr>td>.ant-table-expanded-row-fixed::after,
    :where(.css-1ce7347).ant-table-wrapper .ant-table.ant-table-bordered>.ant-table-container>.ant-table-summary>table>tbody>tr>td>.ant-table-expanded-row-fixed::after {
        position: absolute;
        top: 0;
        inset-inline-end: 1px;
        bottom: 0;
        border-inline-end: 1px solid #f0f0f0;
        content: ""
    }

    :where(.css-1ce7347).ant-table-wrapper .ant-table-row-expand-icon:focus-visible {
        outline: 3px solid #91caff;
        outline-offset: 1px;
        transition: outline-offset 0s, outline 0s
    }

    :where(.css-1ce7347).ant-table-wrapper .ant-table-row-expand-icon:focus,
    :where(.css-1ce7347).ant-table-wrapper .ant-table-row-expand-icon:hover {
        color: #69b1ff
    }

    :where(.css-1ce7347).ant-table-wrapper .ant-table-row-expand-icon:active {
        color: #0958d9
    }

    :where(.css-1ce7347).ant-table-wrapper .ant-table-row-expand-icon:focus,
    :where(.css-1ce7347).ant-table-wrapper .ant-table-row-expand-icon:hover,
    :where(.css-1ce7347).ant-table-wrapper .ant-table-row-expand-icon:active {
        border-color: currentcolor
    }

    :where(.css-1ce7347).ant-table-wrapper .ant-table-row-expand-icon::before,
    :where(.css-1ce7347).ant-table-wrapper .ant-table-row-expand-icon::after {
        position: absolute;
        background: currentcolor;
        transition: transform 0.3s ease-out;
        content: ""
    }

    :where(.css-1ce7347).ant-table-wrapper .ant-table-row-expand-icon::before {
        top: 7px;
        inset-inline-end: 3px;
        inset-inline-start: 3px;
        height: 1px
    }

    :where(.css-1ce7347).ant-table-wrapper .ant-table-row-expand-icon::after {
        top: 3px;
        bottom: 3px;
        inset-inline-start: 7px;
        width: 1px;
        transform: rotate(90deg)
    }

    :where(.css-1ce7347).ant-table-wrapper .ant-table-row-expand-icon-collapsed::before {
        transform: rotate(-180deg)
    }

    :where(.css-1ce7347).ant-table-wrapper .ant-table-row-expand-icon-collapsed::after {
        transform: rotate(0deg)
    }

    :where(.css-1ce7347).ant-table-wrapper .ant-table-row-expand-icon-spaced::before,
    :where(.css-1ce7347).ant-table-wrapper .ant-table-row-expand-icon-spaced::after {
        display: none;
        content: none
    }

    :where(.css-1ce7347).ant-table-wrapper tr.ant-table-expanded-row:hover>th,
    :where(.css-1ce7347).ant-table-wrapper tr.ant-table-expanded-row:hover>td {
        background: rgba(0, 0, 0, 0.02)
    }

    :where(.css-1ce7347).ant-table-wrapper .ant-table-tbody>tr.ant-table-placeholder:hover>th,
    :where(.css-1ce7347).ant-table-wrapper .ant-table-tbody>tr.ant-table-placeholder:hover>td {
        background: #ffffff
    }

    :where(.css-1ce7347).ant-table-wrapper table tr th.ant-table-selection-column::after {
        background-color: transparent !important
    }

    :where(.css-1ce7347).ant-table-wrapper .ant-table-selection-extra .anticon:hover {
        color: rgba(0, 0, 0, 0.5720000000000001)
    }

    :where(.css-1ce7347).ant-table-wrapper .ant-table-cell-fix-left-first::after,
    :where(.css-1ce7347).ant-table-wrapper .ant-table-cell-fix-left-last::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: -1px;
        width: 30px;
        transform: translateX(100%);
        transition: box-shadow 0.3s;
        content: "";
        pointer-events: none
    }

    :where(.css-1ce7347).ant-table-wrapper .ant-table-cell-fix-left-all::after {
        display: none
    }

    :where(.css-1ce7347).ant-table-wrapper .ant-table-cell-fix-right-first::after,
    :where(.css-1ce7347).ant-table-wrapper .ant-table-cell-fix-right-last::after {
        position: absolute;
        top: 0;
        bottom: -1px;
        left: 0;
        width: 30px;
        transform: translateX(-100%);
        transition: box-shadow 0.3s;
        content: "";
        pointer-events: none
    }

    :where(.css-1ce7347).ant-table-wrapper .ant-table-container::before,
    :where(.css-1ce7347).ant-table-wrapper .ant-table-container::after {
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 4;
        width: 30px;
        transition: box-shadow 0.3s;
        content: "";
        pointer-events: none
    }

    :where(.css-1ce7347).ant-table-wrapper .ant-table-container::before {
        inset-inline-start: 0
    }

    :where(.css-1ce7347).ant-table-wrapper .ant-table-container::after {
        inset-inline-end: 0
    }

    :where(.css-1ce7347).ant-table-wrapper .ant-table-ping-left:not(.ant-table-has-fix-left) .ant-table-container::before {
        box-shadow: inset 10px 0 8px -8px rgba(5, 5, 5, 0.06)
    }

    :where(.css-1ce7347).ant-table-wrapper .ant-table-ping-left .ant-table-cell-fix-left-first::after,
    :where(.css-1ce7347).ant-table-wrapper .ant-table-ping-left .ant-table-cell-fix-left-last::after {
        box-shadow: inset 10px 0 8px -8px rgba(5, 5, 5, 0.06)
    }

    :where(.css-1ce7347).ant-table-wrapper .ant-table-ping-left .ant-table-cell-fix-left-last::before {
        background-color: transparent !important
    }

    :where(.css-1ce7347).ant-table-wrapper .ant-table-ping-right:not(.ant-table-has-fix-right) .ant-table-container::after {
        box-shadow: inset -10px 0 8px -8px rgba(5, 5, 5, 0.06)
    }

    :where(.css-1ce7347).ant-table-wrapper .ant-table-ping-right .ant-table-cell-fix-right-first::after,
    :where(.css-1ce7347).ant-table-wrapper .ant-table-ping-right .ant-table-cell-fix-right-last::after {
        box-shadow: inset -10px 0 8px -8px rgba(5, 5, 5, 0.06)
    }

    :where(.css-1ce7347).ant-table-wrapper .ant-table-fixed-column-gapped .ant-table-cell-fix-left-first::after,
    :where(.css-1ce7347).ant-table-wrapper .ant-table-fixed-column-gapped .ant-table-cell-fix-left-last::after,
    :where(.css-1ce7347).ant-table-wrapper .ant-table-fixed-column-gapped .ant-table-cell-fix-right-first::after,
    :where(.css-1ce7347).ant-table-wrapper .ant-table-fixed-column-gapped .ant-table-cell-fix-right-last::after {
        box-shadow: none
    }

    :where(.css-1ce7347).ant-table-wrapper .ant-table-sticky-scroll:hover {
        transform-origin: center bottom
    }

    :where(.css-1ce7347).ant-table-wrapper .ant-table-sticky-scroll-bar:hover {
        background-color: rgba(0, 0, 0, 0.88)
    }

    :where(.css-1ce7347).ant-table-wrapper-rtl .ant-table-row-expand-icon::after {
        transform: rotate(-90deg)
    }

    :where(.css-1ce7347).ant-table-wrapper-rtl .ant-table-row-expand-icon-collapsed::before {
        transform: rotate(180deg)
    }

    :where(.css-1ce7347).ant-table-wrapper-rtl .ant-table-row-expand-icon-collapsed::after {
        transform: rotate(0deg)
    }

    :where(.css-1ce7347).ant-table-wrapper-rtl .ant-table-container::before {
        inset-inline-start: unset;
        inset-inline-end: 0
    }

    :where(.css-1ce7347).ant-table-wrapper-rtl .ant-table-container::after {
        inset-inline-start: 0;
        inset-inline-end: unset
    }

    :where(.css-1ce7347).ant-table-wrapper .ant-table-bordered .ant-table-tbody-virtual:after {
        content: "";
        inset-inline: 0;
        bottom: 0;
        border-bottom: 1px solid #f0f0f0;
        position: absolute
    }

    :where(.css-1ce7347).ant-table-wrapper .ant-table-bordered .ant-table-tbody-virtual .ant-table-cell.ant-table-cell-fix-right-first:before {
        content: "";
        position: absolute;
        inset-block: 0;
        inset-inline-start: -1px;
        border-inline-start: 1px solid #f0f0f0
    }
