    :where(.css-1ce7347).ant-btn-compact-item:not(.ant-btn-compact-last-item) {
        margin-inline-end: -1px
    }

    :where(.css-1ce7347).ant-btn-compact-item:hover,
    :where(.css-1ce7347).ant-btn-compact-item:focus,
    :where(.css-1ce7347).ant-btn-compact-item:active {
        z-index: 2
    }

    :where(.css-1ce7347).ant-btn-compact-vertical-item:hover,
    :where(.css-1ce7347).ant-btn-compact-vertical-item:focus,
    :where(.css-1ce7347).ant-btn-compact-vertical-item:active {
        z-index: 2
    }

    :where(.css-1ce7347).ant-btn-compact-item.ant-btn-primary:not([disabled])+.ant-btn-compact-item.ant-btn-primary:not([disabled])::before {
        position: absolute;
        top: 0;
        inset-inline-start: -1px;
        background-color: #4096ff;
        content: "";
        width: 1px;
        height: 100%
    }

    :where(.css-1ce7347).ant-btn-compact-vertical-item.ant-btn-primary:not([disabled])+.ant-btn-compact-vertical-item.ant-btn-primary:not([disabled])::before {
        position: absolute;
        top: -1px;
        inset-inline-start: 0;
        background-color: #4096ff;
        content: "";
        width: 100%;
        height: 1px
    }
