    :where(.css-1ce7347).ant-list::before,
    :where(.css-1ce7347).ant-list::after {
        box-sizing: border-box
    }

    :where(.css-1ce7347).ant-list [class^="ant-list"]::before,
    :where(.css-1ce7347).ant-list [class*=" ant-list"]::before,
    :where(.css-1ce7347).ant-list [class^="ant-list"]::after,
    :where(.css-1ce7347).ant-list [class*=" ant-list"]::after {
        box-sizing: border-box
    }

    :where(.css-1ce7347).ant-list {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        color: rgba(0, 0, 0, 0.88);
        font-size: 14px;
        line-height: 1.5714285714285714;
        list-style: none;
        font-family: Nunito, sans-serif;
        position: relative
    }

    :where(.css-1ce7347).ant-list * {
        outline: none
    }

    :where(.css-1ce7347).ant-list .ant-list-item .ant-list-item-meta .ant-list-item-meta-title>a:hover {
        color: #1677ff
    }
