    @keyframes css-1ce7347-antZoomIn {
        0% {
            transform: scale(0.2);
            opacity: 0
        }

        100% {
            transform: scale(1);
            opacity: 1
        }
    }
