    :where(.css-1ce7347).ant-card::before,
    :where(.css-1ce7347).ant-card::after {
        box-sizing: border-box
    }

    :where(.css-1ce7347).ant-card [class^="ant-card"] {
        box-sizing: border-box
    }

    :where(.css-1ce7347).ant-card [class^="ant-card"]::before,
    :where(.css-1ce7347).ant-card [class*=" ant-card"]::before,
    :where(.css-1ce7347).ant-card [class^="ant-card"]::after,
    :where(.css-1ce7347).ant-card [class*=" ant-card"]::after {
        box-sizing: border-box
    }

    :where(.css-1ce7347).ant-card {
        box-sizing: border-box;
        margin: 0;
        color: rgba(0, 0, 0, 0.88);
        font-size: 14px;
        line-height: 1.5714285714285714;
        list-style: none;
        font-family: Nunito, sans-serif;
        position: relative;
        background: #ffffff;
        border-radius: 8px
    }

    :where(.css-1ce7347).ant-card .ant-card-head::before {
        display: table;
        content: ""
    }

    :where(.css-1ce7347).ant-card .ant-card-head::after {
        display: table;
        clear: both;
        content: ""
    }

    :where(.css-1ce7347).ant-card .ant-card-body {
        border-radius: 0 0 8px 8px
    }

    :where(.css-1ce7347).ant-card .ant-card-body::before {
        display: table;
        content: ""
    }

    :where(.css-1ce7347).ant-card .ant-card-body::after {
        display: table;
        clear: both;
        content: ""
    }

    :where(.css-1ce7347).ant-card .ant-card-grid-hoverable:hover {
        position: relative;
        z-index: 1;
        box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.12), 0 5px 12px 4px rgba(0, 0, 0, 0.09)
    }

    :where(.css-1ce7347).ant-card .ant-card-actions::before {
        display: table;
        content: ""
    }

    :where(.css-1ce7347).ant-card .ant-card-actions::after {
        display: table;
        clear: both;
        content: ""
    }

    :where(.css-1ce7347).ant-card .ant-card-actions>li>span:hover {
        color: #1677ff;
        transition: color 0.2s
    }

    :where(.css-1ce7347).ant-card .ant-card-actions>li>span a:not(.ant-card-btn):hover,
    :where(.css-1ce7347).ant-card .ant-card-actions>li>span>.anticon:hover {
        color: #1677ff
    }

    :where(.css-1ce7347).ant-card .ant-card-meta::before {
        display: table;
        content: ""
    }

    :where(.css-1ce7347).ant-card .ant-card-meta::after {
        display: table;
        clear: both;
        content: ""
    }

    :where(.css-1ce7347).ant-card-bordered {
        border: 1px solid #f0f0f0
    }

    :where(.css-1ce7347).ant-card-hoverable:hover {
        border-color: transparent;
        box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.12), 0 5px 12px 4px rgba(0, 0, 0, 0.09)
    }
