    @keyframes css-1ce7347-antMoveDownOut {
        0% {
            transform: translate3d(0, 0, 0);
            transform-origin: 0 0;
            opacity: 1
        }

        100% {
            transform: translate3d(0, 100%, 0);
            transform-origin: 0 0;
            opacity: 0
        }
    }
