    :where(.css-1ce7347)[class^="ant-picker"]::before,
    :where(.css-1ce7347)[class*=" ant-picker"]::before,
    :where(.css-1ce7347)[class^="ant-picker"]::after,
    :where(.css-1ce7347)[class*=" ant-picker"]::after {
        box-sizing: border-box
    }

    :where(.css-1ce7347)[class^="ant-picker"] [class^="ant-picker"]::before,
    :where(.css-1ce7347)[class*=" ant-picker"] [class^="ant-picker"]::before,
    :where(.css-1ce7347)[class^="ant-picker"] [class*=" ant-picker"]::before,
    :where(.css-1ce7347)[class*=" ant-picker"] [class*=" ant-picker"]::before,
    :where(.css-1ce7347)[class^="ant-picker"] [class^="ant-picker"]::after,
    :where(.css-1ce7347)[class*=" ant-picker"] [class^="ant-picker"]::after,
    :where(.css-1ce7347)[class^="ant-picker"] [class*=" ant-picker"]::after,
    :where(.css-1ce7347)[class*=" ant-picker"] [class*=" ant-picker"]::after {
        box-sizing: border-box
    }

    :where(.css-1ce7347).ant-picker .ant-picker-input>input::-moz-placeholder {
        opacity: 1
    }

    :where(.css-1ce7347).ant-picker .ant-picker-input>input::placeholder {
        color: rgba(0, 0, 0, 0.25);
        user-select: none
    }

    :where(.css-1ce7347).ant-picker .ant-picker-input>input:placeholder-shown {
        text-overflow: ellipsis
    }

    :where(.css-1ce7347).ant-picker .ant-picker-input>input:focus {
        box-shadow: none;
        outline: 0
    }

    :where(.css-1ce7347).ant-picker .ant-picker-clear:hover {
        color: rgba(0, 0, 0, 0.45)
    }

    :where(.css-1ce7347).ant-picker:hover .ant-picker-clear {
        opacity: 1
    }

    :where(.css-1ce7347).ant-picker:hover .ant-picker-suffix:not(:last-child) {
        opacity: 0
    }

    :where(.css-1ce7347).ant-picker-dropdown .ant-picker-header>button:hover {
        color: rgba(0, 0, 0, 0.88)
    }

    :where(.css-1ce7347).ant-picker-dropdown .ant-picker-header>button:disabled {
        opacity: 0.25;
        pointer-events: none
    }

    :where(.css-1ce7347).ant-picker-dropdown .ant-picker-header-view>button:hover {
        color: #1677ff
    }

    :where(.css-1ce7347).ant-picker-dropdown .ant-picker-prev-icon::before,
    :where(.css-1ce7347).ant-picker-dropdown .ant-picker-next-icon::before,
    :where(.css-1ce7347).ant-picker-dropdown .ant-picker-super-prev-icon::before,
    :where(.css-1ce7347).ant-picker-dropdown .ant-picker-super-next-icon::before {
        position: absolute;
        top: 0;
        inset-inline-start: 0;
        width: 7px;
        height: 7px;
        border: 0 solid currentcolor;
        border-block-width: 1.5px 0;
        border-inline-width: 1.5px 0;
        content: ""
    }

    :where(.css-1ce7347).ant-picker-dropdown .ant-picker-super-prev-icon::after,
    :where(.css-1ce7347).ant-picker-dropdown .ant-picker-super-next-icon::after {
        position: absolute;
        top: 4px;
        inset-inline-start: 4px;
        display: inline-block;
        width: 7px;
        height: 7px;
        border: 0 solid currentcolor;
        border-block-width: 1.5px 0;
        border-inline-width: 1.5px 0;
        content: ""
    }

    :where(.css-1ce7347).ant-picker-dropdown .ant-picker-cell::before {
        position: absolute;
        top: 50%;
        inset-inline-start: 0;
        inset-inline-end: 0;
        z-index: 1;
        height: 24px;
        transform: translateY(-50%);
        content: "";
        pointer-events: none
    }

    :where(.css-1ce7347).ant-picker-dropdown .ant-picker-cell:hover:not(.ant-picker-cell-in-view):not(.ant-picker-cell-disabled) .ant-picker-cell-inner,
    :where(.css-1ce7347).ant-picker-dropdown .ant-picker-cell:hover:not(.ant-picker-cell-selected):not(.ant-picker-cell-range-start):not(.ant-picker-cell-range-end):not(.ant-picker-cell-disabled) .ant-picker-cell-inner {
        background: rgba(0, 0, 0, 0.04)
    }

    :where(.css-1ce7347).ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before {
        position: absolute;
        top: 0;
        inset-inline-end: 0;
        bottom: 0;
        inset-inline-start: 0;
        z-index: 1;
        border: 1px solid #1677ff;
        border-radius: 4px;
        content: ""
    }

    :where(.css-1ce7347).ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-in-range:not(.ant-picker-cell-disabled):before,
    :where(.css-1ce7347).ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-range-start:not(.ant-picker-cell-disabled):before,
    :where(.css-1ce7347).ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-range-end:not(.ant-picker-cell-disabled):before {
        background: #e6f4ff
    }

    :where(.css-1ce7347).ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-range-start:not(.ant-picker-cell-disabled):before {
        inset-inline-start: 50%
    }

    :where(.css-1ce7347).ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-range-end:not(.ant-picker-cell-disabled):before {
        inset-inline-end: 50%
    }

    :where(.css-1ce7347).ant-picker-dropdown .ant-picker-cell-disabled::before {
        background: rgba(0, 0, 0, 0.04)
    }

    :where(.css-1ce7347).ant-picker-dropdown .ant-picker-cell-disabled.ant-picker-cell-today .ant-picker-cell-inner::before {
        border-color: rgba(0, 0, 0, 0.25)
    }

    :where(.css-1ce7347).ant-picker-dropdown .ant-picker-decade-panel .ant-picker-cell::before {
        display: none
    }

    :where(.css-1ce7347).ant-picker-dropdown .ant-picker-week-panel .ant-picker-cell:hover .ant-picker-cell-inner {
        background: transparent !important
    }

    :where(.css-1ce7347).ant-picker-dropdown .ant-picker-week-panel-row td:before {
        transition: background 0.2s
    }

    :where(.css-1ce7347).ant-picker-dropdown .ant-picker-week-panel-row td:first-child:before {
        border-start-start-radius: 4px;
        border-end-start-radius: 4px
    }

    :where(.css-1ce7347).ant-picker-dropdown .ant-picker-week-panel-row td:last-child:before {
        border-start-end-radius: 4px;
        border-end-end-radius: 4px
    }

    :where(.css-1ce7347).ant-picker-dropdown .ant-picker-week-panel-row:hover td:before {
        background: rgba(0, 0, 0, 0.04)
    }

    :where(.css-1ce7347).ant-picker-dropdown .ant-picker-week-panel-row-range-start td.ant-picker-cell:before,
    :where(.css-1ce7347).ant-picker-dropdown .ant-picker-week-panel-row-range-end td.ant-picker-cell:before,
    :where(.css-1ce7347).ant-picker-dropdown .ant-picker-week-panel-row-selected td.ant-picker-cell:before,
    :where(.css-1ce7347).ant-picker-dropdown .ant-picker-week-panel-row-hover td.ant-picker-cell:before {
        background: #1677ff
    }

    :where(.css-1ce7347).ant-picker-dropdown .ant-picker-week-panel-row-range-hover td:before {
        background: #e6f4ff
    }

    :where(.css-1ce7347).ant-picker-dropdown .ant-picker-time-panel-column::-webkit-scrollbar {
        width: 8px;
        background-color: transparent
    }

    :where(.css-1ce7347).ant-picker-dropdown .ant-picker-time-panel-column::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.45);
        border-radius: 4px
    }

    :where(.css-1ce7347).ant-picker-dropdown .ant-picker-time-panel-column::after {
        display: block;
        height: calc(100% - 28px);
        content: ""
    }

    :where(.css-1ce7347).ant-picker-dropdown .ant-picker-time-panel-column:hover {
        overflow-y: auto
    }

    :where(.css-1ce7347).ant-picker-dropdown .ant-picker-time-panel-column>li.ant-picker-time-panel-cell .ant-picker-time-panel-cell-inner:hover {
        background: rgba(0, 0, 0, 0.04)
    }

    :where(.css-1ce7347).ant-picker-dropdown .ant-picker-range-arrow::before {
        position: absolute;
        bottom: 0;
        inset-inline-start: 0;
        width: 16px;
        height: 8px;
        background: #ffffff;
        clip-path: polygon(1.6568542494923806px 100%, 50% 1.6568542494923806px, 14.34314575050762px 100%, 1.6568542494923806px 100%);
        clip-path: path("M 0 8 A 4 4 0 0 0 2.82842712474619 6.82842712474619 L 6.585786437626905 3.0710678118654755 A 2 2 0 0 1 9.414213562373096 3.0710678118654755 L 13.17157287525381 6.82842712474619 A 4 4 0 0 0 16 8 Z");
        content: ""
    }

    :where(.css-1ce7347).ant-picker-dropdown .ant-picker-range-arrow::after {
        content: "";
        position: absolute;
        width: 8.970562748477143px;
        height: 8.970562748477143px;
        bottom: 0;
        inset-inline: 0;
        margin: auto;
        border-radius: 0 0 2px 0;
        transform: translateY(50%) rotate(-135deg);
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
        z-index: 0;
        background: transparent
    }

    :where(.css-1ce7347).ant-picker-dropdown .ant-picker-range-arrow:before {
        inset-inline-start: 16.5px
    }

    :where(.css-1ce7347).ant-picker-dropdown .ant-picker-panel-container .ant-picker-presets ul li:hover {
        background: rgba(0, 0, 0, 0.04)
    }

    :where(.css-1ce7347).ant-picker-outlined:hover {
        border-color: #4096ff;
        background-color: #ffffff
    }

    :where(.css-1ce7347).ant-picker-outlined:focus,
    :where(.css-1ce7347).ant-picker-outlined:focus-within {
        border-color: #1677ff;
        box-shadow: 0 0 0 2px rgba(5, 145, 255, 0.1);
        outline: 0;
        background-color: #ffffff
    }

    :where(.css-1ce7347).ant-picker-outlined.ant-picker-disabled:hover:not([disabled]),
    :where(.css-1ce7347).ant-picker-outlined[disabled]:hover:not([disabled]) {
        border-color: #d9d9d9;
        background-color: rgba(0, 0, 0, 0.04)
    }

    :where(.css-1ce7347).ant-picker-outlined.ant-picker-status-error:not(.ant-picker-disabled):hover {
        border-color: #ffa39e;
        background-color: #ffffff
    }

    :where(.css-1ce7347).ant-picker-outlined.ant-picker-status-error:not(.ant-picker-disabled):focus,
    :where(.css-1ce7347).ant-picker-outlined.ant-picker-status-error:not(.ant-picker-disabled):focus-within {
        border-color: #ff4d4f;
        box-shadow: 0 0 0 2px rgba(255, 38, 5, 0.06);
        outline: 0;
        background-color: #ffffff
    }

    :where(.css-1ce7347).ant-picker-outlined.ant-picker-status-warning:not(.ant-picker-disabled):hover {
        border-color: #ffd666;
        background-color: #ffffff
    }

    :where(.css-1ce7347).ant-picker-outlined.ant-picker-status-warning:not(.ant-picker-disabled):focus,
    :where(.css-1ce7347).ant-picker-outlined.ant-picker-status-warning:not(.ant-picker-disabled):focus-within {
        border-color: #faad14;
        box-shadow: 0 0 0 2px rgba(255, 215, 5, 0.1);
        outline: 0;
        background-color: #ffffff
    }

    :where(.css-1ce7347).ant-picker-underlined:hover {
        border-color: transparent transparent #d9d9d9 transparent;
        background-color: #ffffff
    }

    :where(.css-1ce7347).ant-picker-underlined:focus,
    :where(.css-1ce7347).ant-picker-underlined:focus-within {
        border-color: transparent transparent #d9d9d9 transparent;
        outline: 0;
        background-color: #ffffff
    }

    :where(.css-1ce7347).ant-picker-underlined.ant-picker-disabled:hover,
    :where(.css-1ce7347).ant-picker-underlined[disabled]:hover {
        border-color: #d9d9d9
    }

    :where(.css-1ce7347).ant-picker-underlined.ant-picker-status-error:not(.ant-picker-disabled):hover {
        border-color: transparent transparent #ff4d4f transparent;
        background-color: #ffffff
    }

    :where(.css-1ce7347).ant-picker-underlined.ant-picker-status-error:not(.ant-picker-disabled):focus,
    :where(.css-1ce7347).ant-picker-underlined.ant-picker-status-error:not(.ant-picker-disabled):focus-within {
        border-color: transparent transparent #ff4d4f transparent;
        outline: 0;
        background-color: #ffffff
    }

    :where(.css-1ce7347).ant-picker-underlined.ant-picker-status-warning:not(.ant-picker-disabled):hover {
        border-color: transparent transparent #faad14 transparent;
        background-color: #ffffff
    }

    :where(.css-1ce7347).ant-picker-underlined.ant-picker-status-warning:not(.ant-picker-disabled):focus,
    :where(.css-1ce7347).ant-picker-underlined.ant-picker-status-warning:not(.ant-picker-disabled):focus-within {
        border-color: transparent transparent #faad14 transparent;
        outline: 0;
        background-color: #ffffff
    }

    :where(.css-1ce7347).ant-picker-filled:hover {
        background: rgba(0, 0, 0, 0.06)
    }

    :where(.css-1ce7347).ant-picker-filled:focus,
    :where(.css-1ce7347).ant-picker-filled:focus-within {
        outline: 0;
        border-color: #1677ff;
        background-color: #ffffff
    }

    :where(.css-1ce7347).ant-picker-filled.ant-picker-disabled:hover:not([disabled]),
    :where(.css-1ce7347).ant-picker-filled[disabled]:hover:not([disabled]) {
        border-color: #d9d9d9;
        background-color: rgba(0, 0, 0, 0.04)
    }

    :where(.css-1ce7347).ant-picker-filled.ant-picker-status-error:not(.ant-picker-disabled):hover {
        background: #fff1f0
    }

    :where(.css-1ce7347).ant-picker-filled.ant-picker-status-error:not(.ant-picker-disabled):focus,
    :where(.css-1ce7347).ant-picker-filled.ant-picker-status-error:not(.ant-picker-disabled):focus-within {
        outline: 0;
        border-color: #ff4d4f;
        background-color: #ffffff
    }

    :where(.css-1ce7347).ant-picker-filled.ant-picker-status-warning:not(.ant-picker-disabled):hover {
        background: #fff1b8
    }

    :where(.css-1ce7347).ant-picker-filled.ant-picker-status-warning:not(.ant-picker-disabled):focus,
    :where(.css-1ce7347).ant-picker-filled.ant-picker-status-warning:not(.ant-picker-disabled):focus-within {
        outline: 0;
        border-color: #faad14;
        background-color: #ffffff
    }

    :where(.css-1ce7347).ant-picker-borderless:focus,
    :where(.css-1ce7347).ant-picker-borderless:focus-within {
        outline: none
    }

    :where(.css-1ce7347).ant-picker.ant-picker-multiple .ant-picker-selector:after {
        margin: 0
    }

    :where(.css-1ce7347).ant-picker.ant-picker-multiple .ant-picker-selection-overflow .ant-picker-selection-item-remove:hover {
        color: rgba(0, 0, 0, 0.88)
    }

    :where(.css-1ce7347).ant-picker-compact-item:hover,
    :where(.css-1ce7347).ant-picker-compact-item:active {
        z-index: 2
    }
